@font-face {
  font-family: 'Zodiak';
  src: url('/fonts/Zodiak/Zodiak-Regular.woff2') format('woff2'),
       url('/fonts/Zodiak/Zodiak-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak';
  src: url('/fonts/Zodiak/Zodiak-Italic.woff2') format('woff2'),
       url('/fonts/Zodiak/Zodiak-Italic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak';
  src: url('/fonts/Zodiak/Zodiak-Bold.woff2') format('woff2'),
       url('/fonts/Zodiak/Zodiak-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak';
  src: url('/fonts/Zodiak/Zodiak-BoldItalic.woff2') format('woff2'),
       url('/fonts/Zodiak/Zodiak-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}