volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: /home/vgodart/data/mariadb
      o: bind
      type: none

  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: /home/vgodart/data/wordpress
      o: bind
      type: none

networks:
  inception:
    name: inception
    driver: bridge

services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    networks: 
      - inception
    volumes:
    # A gauche ton pc : A droite sur la VM
    # /var/lib/mysal de la vm sera a /home/vgodart/data/mariadb sur ton pc
    # On link les deux
      - mariadb:/var/lib/mysql
    env_file:
      - .env
    expose:
      - "3306"
    restart: on-failure

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    networks: 
      - inception
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - mariadb
    env_file:
      - .env
    expose:
      - "9000"
    restart: on-failure

  nginx:
    container_name: nginx
    build: ./requirements/nginx
    networks: 
      - inception
    volumes:
      - wordpress:/var/www/html
    depends_on:
      - wordpress
    ports:
      - "443:443"
    restart: on-failure